.rendered-cards {
    /* background-color: #24282f; */
    color: 'white';
  }
  
  .rendered-cards--header {
    margin: 0;
    padding: 0.15rem;
    display: flex;
    justify-content: center
  }

  .rendered-cards--header h3 {
    margin: .5rem;
    color: #fff;
  }
  
  .rendered-cards--results {
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1920px;
  }