.home-header {
    /* display: grid; */
    /* grid-template-areas: 'logos searchForm'; */
    justify-content: center;
    align-items: center;
    /* grid-template-columns: 2fr 1fr; */
    background-color: #e7e7e7;
    padding: 1rem;
  }
  
  .home-header--logo {
    max-width: 100%;
  }
  
  .home-header--character {
    max-width: 85%;
  }
  
  .logos {
    grid-area: logos;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .search-status {
    display: grid;
    color: white;
    grid-auto-columns: (100px, auto);
    background-color: #24282f;
    justify-items: center;
  } 

  .search-status h3{
        margin: .5rem;
  }
  
  .search-status--query {
    font-size: 1rem;
  }
  
  .search-status--message {
    font-size: 1.5rem;
  }
  
  .search-status--icon {
    max-width: 30rem;
  }

  @media screen and (max-width: 480px) {
     .home-header {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr;
        grid-template-areas:
          'logos'
          'searchForm';
     } 
  }
  