.card {
    width: 600px;
    min-height: 240px;
    display: flex;
    overflow: hidden;
    text-align: left;
    background: rgb(60, 62, 68) none repeat scroll 0% 0%;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }

  .card a {
    color: #53bbd0;
    text-decoration: none;
  }
  span {
    color: #e7e7e7;
    padding-right: 0.4rem;
  }

  .card-title {
    font-size: 1.4rem;
  }
  
  .location {
    font-weight: bold;
  }
  
  .card-image--wrapper {
    flex: 2 1 0%;
    width: 100%;
  }
  
  .btn-detail{
    background-color: #53bbd0;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    margin-top: 0.5rem;
  }
  
  .card-body {
    flex: 3 1 0%;
    position: relative;
    padding-left: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
  }

  .card-body h2, h3, p {
    margin: 0.2rem;
    margin-bottom: 0.5rem;
  }

  @media screen and (max-width: 40.625em) {
    .card{
        flex-direction: column;
    height: initial;
    width: 100%;
    }
    .card-image {
        height: 300px;
    }
  }